{erl_opts, [debug_info]}.
{deps, []}.
{xref_checks, [
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_function_calls
]}.
{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unknown,
        unmatched_returns
    ]}
]}.
{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.
