---
name: action

on: [push, workflow_dispatch]

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  check_integrity:
    name: Expected local npm actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm run build-dist
      - name: Check if build left artifacts
        run: git diff --exit-code --ignore-space-at-eol

  unit_tests_ubuntu:
    name: Unit tests (Ubuntu)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm ci
      - run: npm test
      - name: .tool-versions test
        id: setup-beam
        uses: ./
        with:
          version-file: test/.tool-versions
          version-type: strict

  unit_tests_windows:
    name: Unit tests (Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm install --production
      - run: npm test
