---
name: ubuntu

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  integration_test:
    name: >
      OTP ${{matrix.combo.otp-version}},
      Elixir ${{matrix.combo.elixir-version}},
      rebar3 ${{matrix.combo.rebar3-version}}
    runs-on: ${{matrix.combo.os}}
    strategy:
      fail-fast: false
      matrix:
        combo:
          - elixir-version: 'v1.0'
            otp-version: '17'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.0'
            otp-version: '17'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.1'
            otp-version: '18'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.1'
            otp-version: '18'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.2'
            otp-version: '19'
            rebar3-version: '3.10'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.2'
            otp-version: '19'
            rebar3-version: '3.10'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.4'
            otp-version: '20'
            rebar3-version: '3.11'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.4'
            otp-version: '20'
            rebar3-version: '3.6.0'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.4'
            otp-version: '20'
            rebar3-version: '3.11'
            os: 'ubuntu-20.04'
          - elixir-version: 'v1.6'
            otp-version: '21'
            rebar3-version: '3.12'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.6'
            otp-version: '21'
            rebar3-version: '3.12'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.6'
            otp-version: '21'
            rebar3-version: '3.12'
            os: 'ubuntu-20.04'
          - elixir-version: 'v1.7'
            otp-version: '22'
            rebar3-version: '3.13'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.7'
            otp-version: '22'
            rebar3-version: '3.13'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.7'
            otp-version: '22'
            rebar3-version: '3.13'
            os: 'ubuntu-20.04'
          - elixir-version: 'v1.10'
            otp-version: '23'
            rebar3-version: '3.14'
            os: 'ubuntu-16.04'
          - elixir-version: 'v1.10'
            otp-version: '23'
            rebar3-version: '3.14'
            os: 'ubuntu-18.04'
          - elixir-version: 'v1.10'
            otp-version: '23'
            rebar3-version: '3.14'
            os: 'ubuntu-20.04'
          - elixir-version: 'v1.12'
            otp-version: '24'
            rebar3-version: '3.15'
            os: 'ubuntu-20.04'
          - elixir-version: 'v1.11.0'
            otp-version: '22.3.4.2'
            os: 'ubuntu-20.04'
            version-type: 'strict'
          - elixir-version: '1.10.3'
            otp-version: '22.3.4.1'
            os: 'ubuntu-20.04'
            version-type: 'strict'
          - elixir-version: '1.10.3'
            otp-version: '22.3.4.1'
            os: 'ubuntu-20.04'
          - elixir-version: 'master'
            otp-version: '23.1'
            os:  'ubuntu-20.04'
    steps:
      - uses: actions/checkout@v2
      - name: Use erlef/setup-beam
        id: setup-beam
        uses: ./
        with:
          otp-version: ${{matrix.combo.otp-version}}
          elixir-version: ${{matrix.combo.elixir-version}}
          rebar3-version: ${{matrix.combo.rebar3-version}}
          version-type: ${{matrix.combo.version-type}}
      - name: Erlang/OTP version (action)
        run: echo "Erlang/OTP ${{steps.setup-beam.outputs.otp-version}}"
      - name: Elixir version (action)
        run: echo "Elixir ${{steps.setup-beam.outputs.elixir-version}}"
        if: ${{matrix.combo.elixir-version}}
      - name: rebar3 version (action)
        run: echo "rebar3 ${{steps.setup-beam.outputs.rebar3-version}}"
        if: ${{matrix.combo.rebar3-version}}
      - name: mix version and help (CLI)
        run: |
          mix -v
          mix help local.rebar
          mix help local.hex
        if: ${{matrix.combo.elixir-version}}
      - name: Run Elixir/Mix project tests
        run: |
          cd test-projects/elixir_mix
          mix deps.get
          mix test
        if: ${{matrix.combo.elixir-version}}
      - name: Run Erlang/rebar3 project tests
        run: |
          cd test-projects/erlang_rebar3
          rebar3 ct
        if: ${{matrix.combo.rebar3-version}}
