---
name: update_3rd_party_licenses

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  update:
    name: Update 3rd party licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run:
          ./.github/workflows/update_3rd_party_licenses.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
