---
name: Update 3rd party licenses (automation)

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch: {}

jobs:
  update:
    name: Update 3rd party licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run:
          ./.github/workflows/update_3rd_party_licenses.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
